<mat-grid-list cols="3">
  <mat-grid-tile> </mat-grid-tile>

  <mat-grid-tile>
    <mat-card>
      <mat-card-title>Login</mat-card-title>

      <form [formGroup]="loginForm" (ngSubmit) = "login()">
        <p>
          <mat-form-field appearance="outline">
            <mat-label>Username/Email</mat-label>
            <input matInput type="text" formControlName="identifier" />
            <mat-error *ngIf = "identifierErrors && identifierErrors.required">*This field is required</mat-error>
            <mat-error *ngIf = "identifierErrors && identifierErrors.minlength">*Minimum {{identifierErrors.minlength.requiredLength}} characters</mat-error>
            <button mat-icon-button matSuffix type="button"><mat-icon matSuffix color="primary">account_circle</mat-icon></button>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput [type]="isPasswordVisible ? 'text' : 'password'" formControlName="password" />
            <mat-error *ngIf = "passwordErrors && passwordErrors.required">*This field is required</mat-error>
            <mat-error *ngIf = "passwordErrors && passwordErrors.minlength">*Minimum {{passwordErrors.minlength.requiredLength}} characters!</mat-error>
            <button mat-icon-button matSuffix type="button" (click) = "isPasswordVisible = !isPasswordVisible">
              <mat-icon  color="primary">{{isPasswordVisible ? 'visibility' : 'visibility_off'}}</mat-icon>
            </button>
          </mat-form-field>
        </p>

        <p>
          <button type="submit" mat-raised-button color="primary">
            <span>Login</span>
            <mat-icon>lock</mat-icon>
          </button>
        </p>
      </form>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile> </mat-grid-tile>
</mat-grid-list>
